:root {
  --page-primary-background-color: #e5e5e5;
  --page-secondary-background-color: #2f303a;
  --page-tertiary-background-color: #f5f4fa;
  --object-primary-background-color: #2196f3;
  --object-secondary-background-color: #ffffff;
  --border-color: #eeeeee;
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --text-tertiary-color: #ffffff;
  --text-quaternary-color: #000000;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
  background-color: var(--page-primary-background-color);
}
.top-menu {
  background-color: var(--object-secondary-background-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--text-quaternary-color);
  text-decoration: none;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.first-logo-part {
  color: var(--object-primary-background-color);
}
.navigation {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.link-menu .link {
  text-decoration: none;
  color: var(--text-primary-color);
}
.link-menu .link:hover,
.link-menu .link:focus {
  color: var(--object-primary-background-color);
}

.top-contacts .contact-link {
  color: var(--text-secondary-color);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.top-contacts .contact-link:hover,
.top-contacts .contact-link:focus {
  color: var(--object-primary-background-color);
}
.top-container {
  background-color: var(--page-secondary-background-color);
}
.top-container-text {
  color: var(--text-tertiary-color);
  font-size: 44px;
  font-weight: 500;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.top-container-button {
  background-color: var(--object-primary-background-color);
  color: var(--object-secondary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.advantages {
  letter-spacing: 0.03em;
  font-size: 14px;
}
.topic {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-primary-color);
}
.description {
  color: var(--text-secondary-color);
  line-height: 1.71;
}
.what-we-do {
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
